.visual-liquidFillGaugeF29C32433E0242788BDF962BF04D4CAD_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-liquidFillGaugeF29C32433E0242788BDF962BF04D4CAD_DEBUG p em {
  background: yellow;
  padding: 5px;
}
